
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    text-align: center;
}

body {
    background-image: url("yoda.jpg");
    background-position: center;
    background-size: cover;

}

header {
    display: flex;
    justify-content: center;
    background-color: #4B2D0B;
    padding: 1.5rem;
    color: white;
    text-align: right;
}

/* main {
    margin: auto;
    padding: 1rem;

} */


h1,
.btn {
    text-align: center;
}

#btn-translate,
#input-text {
    font-family: 'Mandalore Regular';
    
}

#btn-translate {
    background-color: #4B2D0B;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-family: 'Mandalore Regular';
    font-size: 1.5rem;
    font-weight: 600;
    border-style: none;
    padding: 10px 20px;
    margin: 4px 2px;
}

#input-text {
    width: 50vh;
    min-height: 10vh;
    margin-top: 1rem;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 20px;
    border-style: none;
    box-shadow: 0 0 11px rgb(245, 222, 179);
}

.translated-text h3 {
    margin: 1rem;
    color: #4B2D0B;
    font-weight: 600;
}

#output-text {
    display: flex;
    justify-content: center;
    width: 50vh;
    margin: auto;
    padding: 1rem;
    background-color: #fff;
    color: black;
    min-height: 15vh;
    font-size: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 0 11px rgb(245, 222, 179);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4B2D0B;
}

.footer-info {
    display: flex;
    justify-content: center !important;
    padding: 1rem;
    text-align: center !important;
    font-size: 1.5em;
    color: #fff;
}

@media screen and (max-width: 550px) {
    footer {
        left: 0;
        bottom: 0;
        height: 80px;
        flex-shrink: 1;
        width: 100%;
        background-color: #4B2D0B; 
    }
  }